@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/family/IRANYekanX-Bold.woff") format("woff"),
    url("../assets/fonts/family/IRANYekanX-Bold.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/family/IRANYekanX-Regular.woff") format("woff"),
    url("../assets/fonts/family/IRANYekanX-Regular.woff2") format("woff2");
}

body {
  margin: 0;
  background: #ebf7f8;
  font-family: IRANYekanX;
  .app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    gap: 0px;

    header-component {
      width: 100vw;
      position: fixed;
      z-index: 2;
    }
    content-component {
      flex: 1 0;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
    }
  }
}
