body{
  margin: 0;
  background: #ebf7f8;
  font-family: IRANYekanX;

  }
  .app{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 150px;
  }
  .landing-App{
    display: flex;
    align-items: center;
    justify-content: center;
  }
.items {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 50px;
  width: auto;
  direction: rtl;
}

.items_card{
  background-color: #19becc;
  border-radius: 20px;
  cursor: pointer;
}

.items_card_image{
  border-top-right-radius:20px ;
  border-top-left-radius:20px ;
}
.items_card_title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-weight: bold;
}
.items_card_name{
  text-align: center;
}
.fon-icons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-solid{
  padding: 0px 20px;
}




@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: bold;
	src: url('../../fonts/IRANYekanX-Bold.woff') format('woff'),   
	url('../../fonts/IRANYekanX-Bold.woff2') format('woff2');	 
}

@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: normal;
	src: url('../../fonts/IRANYekanX-Regular.woff') format('woff'),   
	url('../../fonts/IRANYekanX-Regular.woff2') format('woff2');	
}



@media only screen and (max-width: 1500px){
  .items {
    grid-template-columns: auto auto auto auto;
  }

}
@media only screen and (max-width: 1000px){
  .items {
    grid-template-columns: auto auto auto;
  }

}

@media only screen and (max-width: 750px){
  .items {
    grid-template-columns: auto auto;
  }

}

@media only screen and (max-width: 480px){
  .items {
    grid-template-columns: auto;
  }

}

